.spacer {
  flex: 1 1 auto;
}

.toolbarTitle {
  text-align: center;
  width: 100%;
}

.searchForm {
  width: 80%;
}

.searchMatFormField {
  width: 100%;
}

.mat-icon {
  font-size: 1.8rem;
}

.mat-menu-Icon {
  font-size: 1.4rem;
}

.mat-menu-item {
  font-size: 1rem;
}
